.trendy-events{
  padding: 0 20px;
  margin-top: 10px;
  .more{
    background-color: #1E1E48;
    margin: 38px auto 58px auto;
    color: white;
    display: block;
    height: 45px;
    width: 254px;
  }
}