@import '../../config/styles/variables.less';

.brand-container{

   
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;

        img{
            height: 100%;
            width: 100%;
        }



    .badge {
        position: absolute;
        top: 0;
        right: 0;
        text-transform: uppercase;
    }

    &:nth-child(odd){
        justify-self: flex-end;
    }
}