@import "semantic-ui/themes/default/globals/site.variables";
@keyframes slideInNotification {
  from {
    top: -200px;
  }
  to{
    top: 0;
  }

}



  .notification-container {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    width: 100%;
    min-height: 64px;
    background-color: @lightBlue;
    animation: slideInNotification .25s ease;
    transition: all .25s ease;
    &.slideUp{
      top: -100px;
    }
    &.error{
      background-color: @red;

    }

    h4.ui.header {
      font-weight: 400;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon{
        font-size: 1.6rem;
        margin-right: 4px;
      }
    }
  }