@import 'semantic-ui/themes/default/globals/site.variables';

.badge{
    padding: 2px 10px;
    border-radius: 10px;
    color: @white;

    &-blue{
        background-color: @blue;
    }
    &-lightblue{
        background-color: @lightBlue;
    }

    &-whiteblue{
        background-color: @lightBlue;
    }

    &-yellow{
        background-color: @yellow;
        color: @black;
    }

    &-red{
        background-color: @red;
    }

    &-green{
        background-color: @green;
    }
}