@import 'src/config/styles/variables.less';
@import 'semantic-ui/themes/default/globals/site.variables';

.inner-content {
	margin: 0;
}

.app-container {
	padding-right: 0;
	padding-left: 0;
}

.brand-details {
	position: relative;
	&-tags {
		display: flex;
		justify-content: flex-end;
		padding: 0 6px;

		a {
			margin-left: 10px;

			.badge {
				padding: 2px 15px;
			}
		}
	}

	.back-btn {
		position: absolute;
		z-index: 2;
	}

	&-paralax {
		padding-top: 10vh;
	}
	.parallax-content {
		height: 55vh;
		position: relative;
		&::before {
			.overlay-fade-effect('to bottom',@height: 100px);
		}
		&::after {
			.overlay-fade-effect('to top',@height: 222.44px);
		}

		img {
			position: absolute;
			bottom: 44px;
			z-index: 100;
			left: 50%;
			transform: translateX(-50%);
			width: 40%;
		}
	}
	.description {
		padding: 0 20px;
	}

	.phone-number{
		margin-top: 12px;
	}

	.brand-tab-actions {
		margin-top: 24px;
		.ui.grid > .row > .column {
			padding: 0;
			&:first-child {
				padding-right: 7.5px;
			}
			&:last-child {
				padding-left: 7.5px;
			}
			button {
				display: flex;
				align-items: center;
				font-size: 10px;
				width: 100%;
				padding: 14px 0 14px 8px;
				border-color: @grey;
			}
		}
	}
}
