@import 'src/config/styles/variables.less';
@import 'semantic-ui/themes/default/globals/site.variables';

.inner-content {
	margin: 0;
}

.react-parallax-content {
	.empty-slider{
		min-height: 55vh;
	}
}

.outline-btn{
	display: block;
	border: 1px solid white;
	padding: 0.78571429em 1.5em 0.78571429em;
	text-align: center;
	border-radius: 0.28571429rem;
	font-size: 15px;
}

.app-container {
	padding-right: 0;
	padding-left: 0;
}

.brand-details {
	position: relative;
	.empty-slider{
		height: 50vh;
	}
	#brand-details{
		height: 50vh;
	}
	&-tags {
		display: flex;
		justify-content: flex-end;
		padding: 0 6px;

		a {
			margin-left: 10px;

			.badge {
				padding: 2px 15px;
			}
		}
	}

	.back-btn {
		position: absolute;
		z-index: 2;
	}
	.slide-brand {
		height: 100%;
		.slider-image {
			height: 100%;
			width: 100%;
		}
		&::before {
			 .overlay-fade-effect('to bottom',@height: 100px);
		 }
		&::after {
			.overlay-fade-effect('to top',@height: 222.44px);
		}
	}
	.brand-image {
		bottom:0;
		position: absolute;
		bottom: 0;
		left: 50%;
		
		img {
			position: absolute;
			bottom: 44px;
			z-index: 100;
			left: 50%;
			transform: translateX(-50%);
			height: 60px;
		}
	}
	.description {
		padding: 0 20px;
	}

	.phone-number {
		margin-top: 12px;
	}

	.brand-tab-actions {
		margin-top: 24px;
		.ui.grid > .row > .column {
			padding: 0;
			&:first-child {
				padding-right: 7.5px;
			}
			&:last-child {
				padding-left: 7.5px;
			}
			button {
				display: flex;
				align-items: center;
				font-size: 10px;
				width: 100%;
				padding: 14px 0 14px 8px;
				border-color: @grey;
				justify-content: center;

				// i{
				// 	color: white !important;
				// 	font-size: 20px;
				// }
			}
		}
	}
}

.brand-slider-container{
	position: relative;
}

.content.description.coupons .ui.item.menu, .content.description.coupons  .ui.item.menu .item{
	justify-content: flex-start;
}

.content.description.coupons {
	padding-bottom: 10%;

}

.content.description.coupons .coupon-card__text{
	font-size: 14px;
}

.content.description {
	.toggle{
		p.ui.header{
			font-weight: 400;
			font-size: 1.15rem;
		}
	}
}

