//colors
@backgroundColor: #000034;
@blue: #1E1E48;
@pink: #fc0043;
@light-blue: #1E1E48;
@green: #00b23c;
@yellow: #ffbe00;
@black: #000;
@white: #fff;
@grey: #6e6e88;
@white-blue: #00A0E3;
@light-gray: #C4C4C4;


//font sizes
@small-font-size: 10px;
@big-font-size: 22px;

.overlay-fade-effect(@direction:'to bottom'; @index:2;@height:214px;@backgroundColor:@backgroundColor) {
	content: '';
	position: absolute;
	height: @height;
	width: 100%;
	& when (@direction=  'to bottom') {
		top: 0;
	}
	& when (@direction='to top') {
		bottom: 0;
	}
	left: 0;
	z-index: 2;
	background-image: linear-gradient(e(@direction),@backgroundColor , transparent);
}
