.back-btn {
	
	position: fixed;
	z-index: 900;
	top: 88px;
	left: 28px;
	color: white;
	background-color: transparent;
	border: none;
	font-size: 1.2rem;
	display: inline-flex;
	align-items: center;
	padding: 0;
	&.back-tour{
		position: static;
		padding: 0;
	}
	.text {
		text-transform: capitalize;
	}
	animation: back-btn-animation 1.4s ease;
}

@keyframes back-btn-animation {

	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}