@import 'src/config/styles/variables';
.entertainment-slide {
	position: relative;
	height: 70vh;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.tags{
		.ui.label{
			margin-top: 8px;
		}
	}


	.details {
		padding: 0 16px;
		width: calc(~'100% -' 32px);
		position: absolute;
		text-align: center;
		bottom: 32px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
		h1.ui.header {
			font-weight: 900;
			font-size: 16px;
		}
		p {
			padding: 0 27px;
			margin: 18px auto 40px auto;
		}
		.actions {
			display: flex;
			align-items: center;
			justify-content: center;
			button {
				svg {
					width: 16px;
					margin-left: 12px;
				}
				padding: 12px 0;
				font-weight: 400;
				font-size: 14px;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 150px;
				&:first-child {
					margin-right: 8px;
				}
				&:last-child {
					margin-left: 8px;
				}
			}
		}
	}
	&.first-slide:before {
		.overlay-fade-effect('to bottom',@height: 60px,@backgroundColor: #000034);
	}


	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		bottom: 0;
		z-index: 2;
		//background-image: radial-gradient(circle at 50% 36%, #ff009900, rgba(30, 30, 72, 0.8) 100%);
		background-image: linear-gradient(to top, rgba(30, 30, 72, 0.5) 44%, transparent 54%);

		background-size: 100% 100%;

		background-position: 0 50%;
	}
}
