@import "src/config/styles/variables";
.entertainment-screen{
  position: relative;
  .slider-with-overlay{
    position: relative;
    height: 438px;
    .overlay {
      top: 0;
      left: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 12;
      &:before{
        .overlay-fade-effect('to bottom',@height:100% );
      }
      &:after{
        .overlay-fade-effect('to top',@height:100% );

      }
    }

  }
  .back-btn{
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 2;

  }
  .swiper-pagination-custom{
    bottom: 102px;

}


}