@import 'src/config/styles/variables.less';

.navBar {
	transition: all .25s ease ;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 15px;
	width: 100%;
	z-index: 1000;
	&.open{
		background-color: transparent;
		backdrop-filter: none;
	}
	.nave-bar-menu{
		display: flex;
		align-items: center;
		justify-content: center;
		.ui.header{
			margin: 0 0 12px 0;
			font-weight: 400;
		}
	}


}
.navigation {

	min-width: 300px;
	width: 100%;
    display: flex;
	justify-content: space-around;
	padding-top: 3%;
	 ul {
		 display: flex;
		 align-items: center;
		 justify-content: space-between;
		 width: 90%;
		 margin: 0 auto;
		 li {
			 flex: 1;
			 text-align: center;

			 a{
				 display: block;
				 height: 100%;
				 width: 100%;
				 padding: 8px;
				 border-radius: 80px;
				 &:active,&:hover{
					 background: rgba(30,30,72,0.6);

				 }
			 }

		 }
	 }
 }

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 5px rgba(0, 116, 131, 0), 0 0 0 5px rgba(0, 117, 129, 0);
	}
	40% {
		box-shadow: 0 0 0 50px rgba(255, 0, 64, 0), 0 0 0 0 rgb(0, 95, 105);
	}
	80% {
		box-shadow: 0 0 0 50px rgba(0, 56, 78, 0), 0 0 0 20px rgba(0, 56, 78, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(0, 122, 140, 0), 0 0 0 20px rgba(0, 136, 155, 0);
	}
}

.points {
	background-color: #00a0e3;
	height: 42px;
	width: 42px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	position: relative;
	animation: pulse 2s linear infinite;
	border: none;
	color: white;
}

.bg-light-blue{
	background-color: @backgroundColor;
    height: 1px;
    width: 1px;
    position: fixed;
    top: 36px;
    left: 48px ;
    border-radius: 50%;
    z-index: 950;
}

.app-medium-title{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    text-align: right;
    padding: 0;
}


.menu-container{
	position: fixed;
	width: 100vw;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;

	> div{
	  width: 100%;
	}
  
  }