@import 'src/config/styles/variables.less';

.navBar {
	background-color: rgba(0, 0, 52, 0.2);
	backdrop-filter: blur(2px);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 22px 10px 22px;
	width: 100%;
	z-index: 950;
	i.big.icon.menu, i.big.icons.menu {
		height: initial;
		margin: 0;
		font-size: 1.8em;
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 5px rgba(0, 116, 131, 0), 0 0 0 5px rgba(0, 117, 129, 0);
	}
	40% {
		box-shadow: 0 0 0 50px rgba(255, 0, 64, 0), 0 0 0 0 rgb(0, 95, 105);
	}
	80% {
		box-shadow: 0 0 0 50px rgba(0, 56, 78, 0), 0 0 0 20px rgba(0, 56, 78, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(0, 122, 140, 0), 0 0 0 20px rgba(0, 136, 155, 0);
	}
}

.points {
	background-color: #00a0e3;
	height: 42px;
	width: 42px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	position: relative;
	animation: pulse 2s linear infinite;
	border: none;
	color: white;
}

.bg-light-blue{
	background-color: @backgroundColor;
    height: 60px;
    width: 60px;
    position: fixed;
    top: 5px;
    left: 22px ;
    border-radius: 50%;
    z-index: 900;
}

.app-medium-title{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-bottom: 8%;
    text-align: right;
    padding-top: 15px;
}


.coupon-menu-container{
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 930;
	top: 0;
	left: 0;
	overflow-y: scroll;
	padding-top: 15vh;
  
	> div{
	  width: 100%;
	}
  
  }