.bottom-nav {
	border-radius: 80px;
	height: 50px;
	background-color: #1e1e48;
	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: 55%;
	//min-width: 250px;
	z-index: 1000;
	ul {
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		padding: 0 10px;
		height: 100%;
		li {
			height: 35px;
			//width: calc(100% / 3);

			a {
				display: flex;
				align-items: center;
				justify-content: left;
				border-radius: 100px;
				height: 100%;
				width: 40px;
				transition: width 250ms ease-in;
				padding: 0 8px;
				i.icon{
					margin: 0;

				}

				span {
					visibility: hidden;
					width: 0;
					opacity: 0;
					margin-left: 4px;
				}
				&.active {
					 background: rgba(255, 255, 255, 0.1);
					 width: 100%;
					 span {
						 visibility: visible;
						 transition: opacity 250ms ease-in 120ms;
						 width: calc(~"100% - "33.2px);
						 opacity: 1;
					 }
				 }

			}
			&:nth-child(1){
				a.active{
					background-color: #00a1e6;

				}
			}
			&:nth-child(2) {
				display: flex;
				justify-content: center;
				a.active{
					background-color:  #d49c00;
				}

			}
			&:last-child {
				a {
					float: right;
					&.active{
						background-color: #13b61f ;

					}
				}
			}
		}
	}
}
@keyframes show {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}

}
