@import '../../config/styles/variables';

.event-card {
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	height: 222px;
	width: 100%;
	background-color: #fff;
	&:after {
		.overlay-fade-effect('to top');
	}

	img {
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 1;
		object-fit: cover;
	}
	.details {
		height: 100%;
		width: calc(~'100% - ' 24px);
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;
		justify-content: space-around;

		.point{
			background-color: @backgroundColor;
			color: @white;
			max-width: 100px;
			margin-left: auto;
		}

		.clamp-lines.title{
			min-height: 60px ;
		}
		
		.tags {
			margin-bottom: 3%;

			.ui.label{
				margin-top: 8px;
			}
		}
		.description {
			margin-bottom: 4%;
			text-transform: uppercase;
		}
		.date{
			font-weight: 900;
			margin-bottom: 5%;
		}
	}
}


.d-flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}


.justify-content-between{
	justify-content: space-between;
}
