.brands {
	padding: 0 40px 60px 40px;
	.swiper-container {
		padding-bottom: 34px;
	}
	text-align: center;
	.ui.header:first-child {
		margin-bottom: 30px;
	}
	.brand-slider-container {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
