.app-container {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	.screen {
		padding-top: 76px;

		&.stick-to-top{
			padding: 0;
		}
	}
}

.page-content{
    padding: 0 15px;
    padding-top: 10% !important;
}

.text-center{
    text-align: center !important;
}

.back-btn i {
    display: none;
}

.navBar .back-btn i{
    display: block;

}


.rotate-img{
	animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @-ms-keyframes spin { 
        from { 
            -ms-transform: rotate(0deg); 
        } to { 
            -ms-transform: rotate(360deg); 
        }
    }
    @-moz-keyframes spin { 
        from { 
            -moz-transform: rotate(0deg); 
        } to { 
            -moz-transform: rotate(360deg); 
        }
    }
    @-webkit-keyframes spin { 
        from { 
            -webkit-transform: rotate(0deg); 
        } to { 
            -webkit-transform: rotate(360deg); 
        }
    }
    @keyframes spin { 
        from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(360deg); 
        }
    }
}

.overflow-hidden{
    overflow: hidden !important;
}

.menu-list {
    position: fixed;
    // left: 15px;
    width:60px;
    z-index: 100;
    height: 100vh;
    padding: 0 30px;
    padding-top: 100px;
    height: 100px;
    top: 0;
    left: 0;


    a .ui.header{
        border-radius: 15px;
        display: flex !important;
        align-items: center !important;
        justify-content: space-between;
        font-size: 20px !important;
        padding: 15px 0;

        i{
            font-size: 20px;
        }
    }

    button{
        width: 100%;
    }

    .greetings{
        text-align: center;
        font-weight: 400;
		text-shadow: 1px 1px #000000;
        padding-bottom: 20%;
    }
}

nav.test {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60px;
    z-index: 1000;
    height: 100px;

  }
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width:100vw;
    background: #000034;

    &::before{
        display: block;
        height: 60vh;
        content: "";
        // background: linear-gradient(0deg, rgba(0, 0, 52 , 0.1), rgba(0, 0, 52 , 0.7)), url('./assets/images/menu-bg.jpg');
        background: url('./assets/images/menu-bg.jpg');
        background-position: center;
        background-size: cover;
    }


    &::after{
        display: block;
        height: 60vh;
        content: "";
        background-image: linear-gradient(
            0deg,#000034,transparent);        
            background-position: center;
        background-size: cover;
        margin-top: -55vh;
    }
  }
  
  button.menu-btn {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: fixed;
    top: 18px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    z-index: 1000;
    display: flex;
  }
  
 

  li.test{
      width: 85vw;

      &:last-child{
          margin-top: 20% !important;
      }
  }


  
//   ul {
//     padding: 25px;
//     position: absolute;
//     top: 100px;
//     width: 230px;
//   }
  
//   li {
//     list-style: none;
//     margin-bottom: 20px;
//     display: flex;
//     align-items: center;
//     cursor: pointer;
//   }
  
  .icon-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex: 40px 0;
    margin-right: 20px;
  }
  
  .text-placeholder {
    border-radius: 5px;
    width: 200px;
    height: 20px;
    flex: 1;
  }
  
  .refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .pin-verification .digits .inline.required.two.wide.field{
      border: 1px solid #FFF !important;
  }
  
 .ui.form.pin-verification .inline.fields{
     justify-content: center !important;
 }

 .navigation ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
 }

 .back-icon {
    position: fixed;
    top: 30px;
    left: 20px;
    z-index: 1001;
    font-size: 25px !important;
 }