@import 'src/config/styles/variables';
@import 'semantic-ui/themes/default/globals/site.variables';

.qrcode-screen {
	padding: 20px;
	text-align: center;
	height: 100vh;
	.content{
		position: absolute;
		top: calc(~"50% - " 62px);
		left: 0;
		width: 100%;
		transform: translateY(-50%);
		p {
			font-size: 16px;
		}

	}

	.activate {
		position: absolute;
		bottom: 15%;
		transform: translateX(-50%);
		left: 50%;
		width: 215px;
		height: 45px;
	}
}
i.icon.qrcode.big,
i.icons.big {
	font-size: 158px;
	height: 158px;
	line-height: initial;
	margin: 32px auto 0 auto;
	color: rgba(255, 255, 255, 0.4);
	display: block;
}
.qrcode-section{

	&-text{
		font-size: 25px;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 1px;
		padding-top: 10%;
		color: @light-blue;

	}

	&-img{
		width: 100%;
		max-width: 250px;
		height: 250px;
		overflow: hidden;
		position: relative;
		svg{
			position: absolute;
			width: 100%;
			height: 100%;
			transform: scale(.8);
		}
		.qrcode{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}

	&-header{
		padding-bottom: 5%;

	}

	&-title{

		display: flex;
		flex-direction: column;
		align-items: center;

		h3{
			font-size: 20px;
			text-transform: uppercase;
			font-weight: 500;
			padding: 10% 0;
		}


		img{
			width: 30%;
		}
	}

	&-body{
		display: flex;
		flex-direction: column;
		align-items: center;
		i.icon.qrcode.big, i.icons.big{
			color: @white;
		}
		.qrcode-points{
		width: 204px;
			height: 45px;
			background-color: rgba(255,255,255,.2);
			border-radius: 80px;
			color: @lightBlue;
			line-height: 45px;
			text-align: center;
			font-size: 25px;
			font-weight: 900;

		}


	}
}

