.qrcode-screen {
	padding: 20px;
	text-align: center;
	.content{
		position: absolute;
		top: calc(~"50% - " 62px);
		left: 0;
		width: 100%;
		transform: translateY(-50%);
		p {
			font-size: 16px;
		}
		i.icon,
		i.icons {
			font-size: 158px;
			height: 158px;
			line-height: initial;
			margin: 32px auto 0 auto;
			color: rgba(255, 255, 255, 0.4);
			display: block;
		}
	}

	.activate {
		position: absolute;
		bottom: 15%;
		transform: translateX(-50%);
		left: 50%;
		width: 215px;
		height: 45px;
	}
}
